{% extends 'base.html.twig' %}

{% block title %}Modifier matière{% endblock %}

{% block body %}
    <h1>Modifier matière</h1>

    {{ include('material_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_material_crud_index') }}">Retour à la liste</a>

    {{ include('material_crud/_delete_form.html.twig') }}
{% endblock %}
