<form method="post" action="{{ path('app_color_crud_delete', {'id': color.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
    <button class="btn btn-danger">Supprimer la couleur</button>
</form>
