<form method="post" action="{{ path('app_type_crud_delete', {'id': type.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn btn-danger">Supprimer le type de stylo</button>
</form>
