<form method="post" action="{{ path('app_pen_crud_delete', {'id': pen.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pen.id) }}">
    <button class="btn btn-danger">Supprimer le stylo</button>
</form>
