{% extends 'base.html.twig' %}

{% block title %}Nouveau stylo{% endblock %}

{% block body %}
    <h1>Créer un nouveau stylo</h1>

    {{ include('pen_crud/_form.html.twig') }}
    
    <a class="btn btn-primary" href="{{ path('app_pen_crud_index') }}">Retour à la liste</a>
{% endblock %}
